Desktop/
work/
sq/
.ICEauthority
.bash_history
.bash_logout
.cache/
.config/Slack/
.config/Unknown Organization/
.config/chromium/
.config/dconf/
.config/evolution/
.config/gnome-initial-setup-done
.config/gtk-3.0/
.config/ibus/
.config/menus/
.config/nautilus/
.config/pavucontrol.ini
.config/pulse/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/zoomus.conf
.gnome/
.gnupg/
.local/
.m2/
.mozilla/
.pki/
.profile
.ssh/
.sudo_as_admin_successful
.viminfo
.zoom/
Downloads/



